<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{t}}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600|Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/style.css') }}">
    <script src="{{ url_for('static', filename='assets/twemoji.min.js') }}"></script>
</head>
<body>
    <header>
        <h1>{{ h }}</h1>
        <nav>
            <ul>
                <li><a href="/list" class="{{ a1 }}"><i class="fas fa-list-ul nav-icon"></i> ALL</a></li>
                <li><a href="/" class="{{ a2 }}"><i class="fas fa-tasks nav-icon"></i> Uncompleted</a></li>
                <li><a href="/completed" class="{{ a3 }}"><i class="fas fa-check nav-icon"></i> Completed</a></li>
            </ul>
        </nav>
    </header>
<main>
    <section>
        {% if todos %}
        <div class="search-bar">
            <form action="/search" method="GET">
                <div class="search-container">
                    <label for="refer">🔍 Search Reference:</label>
                    <select name="refer" id="refer" required>
                        <option value="name">Task Name</option>
                        <option value="desc">Description</option>
                        <option value="date">Date</option>
                        <option value="pr">Priority</option>
                        <option value="assignee">Assignee</option>
                    </select>
                    <input type="text" name="key" placeholder="Search Task" required />
                    <button type="submit">Search</button>
                </div>
            </form>
        </div>
        <h2 class="section-title">📝 To-Do List:</h2>
        <table>
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Task Name</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td><a href="./done?_id={{ todo['_id'] }}"><img src="static/images/{{todo['done']}}.png" alt="Status" class="status-icon"></a></td>
                    <td>{{ todo["name"] }}</td>
                    <td>{{ todo["desc"] }}</td>
                    <td>{{ todo["date"] }}</td>
                    <td>{{ todo["pr"] }}</td>
                    <td>{{ todo["assignee"] }}</td>
                    <td>
                        <a href="./remove?_id={{ todo['_id'] }}"><button class="delete-button">DELETE</button></a>
                        <a href="./update?_id={{ todo['_id'] }}"><button class="edit-button">EDIT</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p class="no-tasks">No Tasks in the List! 🎉</p>
        {% endif %}
    </section>
        <section class="add-task">
            <h2 class="section-title">➕ Add a Task:</h2>
            <form action="/action" method="POST">
                <div class="form-group">
                    <label for="name">Task Name</label>
                    <input type="text" id="name" name="name" placeholder="Task name" required />
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <textarea id="desc" name="desc" rows="3" placeholder="Enter Description here..." required></textarea>
                </div>
                <div class="form-group">
                    <label for="date">Date</label>
                    <input type="date" id="date" name="date" required />
                </div>
                <div class="form-group">
                    <label for="pr">Priority</label>
                    <select id="pr" name="pr" required>
                        <option value="no-priority">No Priority</option>
                        <option value="low-priority">Low Priority</option>
                        <option value="medium-priority">Medium Priority</option>
                        <option value="high-priority">High Priority</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="assignee">Assignee</label>
                    <input type="text" id="assignee" name="assignee" placeholder="Assignee" required />
                </div>
                <button type="submit">Create</button>
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 TODO Reminder by Dor Avissar </p>
    </footer>
</body>
</html>
